In [1]:
%pip install pandas

import pandas

Collecting pandas
  Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\github\rag\.venv\lib\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\github\rag\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\github\rag\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
Using cached pytz-2025.1-py2.py3-none-any.whl (507 kB)
Using cached tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2025.1 tzdata-2025.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
data = pandas.read_csv('data.csv')
data.head()

,article_id,source_id,source_name,author,title,description,url,url_to_image,published_at,content,category,full_content
0,89541,NaN,International Business Times,Paavan MATHEMA,UN Chief Urges World To 'Stop The Madness' Of ...,UN Secretary-General Antonio Guterres urged th...,https://www.ibtimes.com/un-chief-urges-world-s...,https://d.ibtimes.com/en/full/4496078/nepals-g...,2023-10-30 10:12:35.000000,UN Secretary-General Antonio Guterres urged th...,Nepal,UN Secretary-General Antonio Guterres urged th...
1,89542,NaN,Prtimes.jp,NaN,RANDEBOOよりワンランク上の大人っぽさが漂うニットとベストが新登場。,[株式会社Ainer]\nRANDEBOO（ランデブー）では2023年7月18日(火)より公...,https://prtimes.jp/main/html/rd/p/000000147.00...,https://prtimes.jp/i/32220/147/ogp/d32220-147-...,2023-10-06 04:40:02.000000,"RANDEBOO2023718()WEB2023 Autumn Winter \n""Nepa...",Nepal,NaN
2,89543,NaN,VOA News,webdesk@voanews.com (Agence France-Presse),UN Chief Urges World to 'Stop the Madness' of ...,UN Secretary-General Antonio Guterres urged th...,https://www.voanews.com/a/un-chief-urges-world...,https://gdb.voanews.com/01000000-0a00-0242-60f...,2023-10-30 10:53:30.000000,"Kathmandu, Nepal UN Secretary-General Antonio...",Nepal,NaN
3,89545,NaN,The Indian Express,Editorial,Sikkim warning: Hydroelectricity push must be ...,Ecologists caution against the adverse effects...,https://indianexpress.com/article/opinion/edit...,https://images.indianexpress.com/2023/10/edit-...,2023-10-06 01:20:24.000000,At least 14 persons lost their lives and more ...,Nepal,At least 14 persons lost their lives and more ...
4,89547,NaN,The Times of Israel,Jacob Magid,"200 foreigners, dual nationals cut down in Ham...","France lost 35 citizens, Thailand 33, US 31, U...",https://www.timesofisrael.com/200-foreigners-d...,https://static.timesofisrael.com/www/uploads/2...,2023-10-27 01:08:34.000000,"Scores of foreign citizens were killed, taken ...",Nepal,NaN

In [4]:
data.dropna(inplace=True)
data.drop(columns=['source_id', 'source_name', 'author', 'url', 'url_to_image'], inplace=True)
data.head()

,article_id,title,description,published_at,content,category,full_content
6,89551,Pro-Israel rallies allowed in India but Palest...,"India, the first non-Arab country to recognise...",2023-10-25 09:58:17.000000,"New Delhi, India Israels relentless bombing of...",Nepal,"India, the first non-Arab country to recognise..."
12,89563,PM Hasina’s war on terror gets daughter India’...,India News: NEW DELHI: India preferred Banglad...,2023-11-02 01:12:47.000000,Ranked! Worlds most loved landmarks; Taj Mahal...,Nepal,NEW DELHI: India preferred Bangladesh over Nep...
21,89584,India leads in migration to 'high-income' coun...,"US, Australia and Canada were the top destinat...",2023-10-25 06:46:38.000000,India topped a chart of countries with the lar...,Nepal,India has topped a list of countries with the ...
31,89602,India rejects its ranking in Global Hunger Ind...,New Delhi labelled index as “an erroneous meas...,2023-10-13 14:33:26.000000,The Indian government has rejected the new edi...,Nepal,The Indian government has rejected the new ed...
35,89614,A 5.2 magnitude earthquake in Nepal damages do...,A 5.2 magnitude earthquake and some aftershock...,2023-10-22 15:34:02.000000,"KATHMANDU, Nepal -- A 5.2 magnitude earthquake...",Nepal,"KATHMANDU, Nepal --A 5.2 magnitudeearthquakean..."

In [5]:
#Отчистим от новостей не на английском языке
%pip install langdetect
from langdetect import detect

def detect_lang(text):
    try:
        return detect(text)
    except:
        return 'unknown'
    
data['lang'] = data['content'].apply(detect_lang)

data = data[data['lang'] == 'en']
data.drop(columns=['lang'], inplace=True)
data.head()

Collecting langdetectNote: you may need to restart the kernel to use updated packages.

  Downloading langdetect-1.0.9.tar.gz (981 kB)
     ---------------------------------------- 0.0/981.5 kB ? eta -:--:--
     ---------------------------------------- 0.0/981.5 kB ? eta -:--:--
     ---------------------------------------- 0.0/981.5 kB ? eta -:--:--
     ---------------------------------------- 0.0/981.5 kB ? eta -:--:--
     ---------------------------------------- 0.0/981.5 kB ? eta -:--:--
     ---------------------------------------- 0.0/981.5 kB ? eta -:--:--
     ---------------------------------------- 0.0/981.5 kB ? eta -:--:--
     ---------------------------------------- 0.0/981.5 kB ? eta -:--:--
     ---------------------------------------- 0.0/981.5 kB ? eta -:--:--
     ---------------------------------------- 0.0/981.5 kB ? eta -:--:--
     ---------------------------------------- 0.0/981.5 kB ? eta -:--:--
     ---------------------------------------- 0.0/981.5 kB ? eta -:--:--
     ---------------------------------------- 0.0/981.5 kB ? eta -:--:--
     ---------- ----------------------------- 262.1/981.5 kB ? eta -:--:--
     ---------- ----------------------------- 262.1/981.5 kB ? eta -:--:--
     ---------- ----------------------------- 262.1/981.5 kB ? eta -:--:--
     ---------- ----------------------------- 262.1/981.5 kB ? eta -:--:--
     ---------- ----------------------------- 262.1/981.5 kB ? eta -:--:--
     ---------- ----------------------------- 262.1/981.5 kB ? eta -:--:--
     ------------------- ---------------- 524.3/981.5 kB 190.7 kB/s eta 0:00:03
     ------------------- ---------------- 524.3/981.5 kB 190.7 kB/s eta 0:00:03
     ------------------- ---------------- 524.3/981.5 kB 190.7 kB/s eta 0:00:03
     ------------------- ---------------- 524.3/981.5 kB 190.7 kB/s eta 0:00:03
     ------------------- ---------------- 524.3/981.5 kB 190.7 kB/s eta 0:00:03
     ------------------- ---------------- 524.3/981.5 kB 190.7 kB/s eta 0:00:03
     ---------------------------- ------- 786.4/981.5 kB 215.0 kB/s eta 0:00:01
     ---------------------------- ------- 786.4/981.5 kB 215.0 kB/s eta 0:00:01
     ------------------------------------ 981.5/981.5 kB 251.5 kB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: six in c:\github\rag\.venv\lib\site-packages (from langdetect) (1.17.0)
Building wheels for collected packages: langdetect
  Building wheel for langdetect (pyproject.toml): started
  Building wheel for langdetect (pyproject.toml): finished with status 'done'
  Created wheel for langdetect: filename=langdetect-1.0.9-py3-none-any.whl size=993313 sha256=37a807fa7c743bc2d8a64c00639cbff7bd500ee0ba3fd8550c99e22960b97308
  Stored in directory: c:\users\stepa\appdata\local\pip\cache\wheels\c1\67\88\e844b5b022812e15a52e4eaa38a1e709e99f06f6639d7e3ba7
Successfully built langdetect
Installing collected packages: langdetect
Successfully installed langdetect-1.0.9

,article_id,title,description,published_at,content,category,full_content
6,89551,Pro-Israel rallies allowed in India but Palest...,"India, the first non-Arab country to recognise...",2023-10-25 09:58:17.000000,"New Delhi, India Israels relentless bombing of...",Nepal,"India, the first non-Arab country to recognise..."
12,89563,PM Hasina’s war on terror gets daughter India’...,India News: NEW DELHI: India preferred Banglad...,2023-11-02 01:12:47.000000,Ranked! Worlds most loved landmarks; Taj Mahal...,Nepal,NEW DELHI: India preferred Bangladesh over Nep...
21,89584,India leads in migration to 'high-income' coun...,"US, Australia and Canada were the top destinat...",2023-10-25 06:46:38.000000,India topped a chart of countries with the lar...,Nepal,India has topped a list of countries with the ...
31,89602,India rejects its ranking in Global Hunger Ind...,New Delhi labelled index as “an erroneous meas...,2023-10-13 14:33:26.000000,The Indian government has rejected the new edi...,Nepal,The Indian government has rejected the new ed...
35,89614,A 5.2 magnitude earthquake in Nepal damages do...,A 5.2 magnitude earthquake and some aftershock...,2023-10-22 15:34:02.000000,"KATHMANDU, Nepal -- A 5.2 magnitude earthquake...",Nepal,"KATHMANDU, Nepal --A 5.2 magnitudeearthquakean..."

In [6]:
data.describe(include='all')

,article_id,title,description,published_at,content,category,full_content
count,17790.000000,17790,17790,17790,17790,17790,17790
unique,NaN,16147,16339,16382,14528,246,16498
top,NaN,Stock market update: FMCG stocks up as market ...,South Korean President Yoon Suk Yeol will be g...,2023-11-08 12:00:00,"Rashmika Mandanna shines in ethnic wear, inspi...",India,LONDON --LONDON (AP) — King Charles III immers...
freq,NaN,15,6,12,129,984,6
mean,304562.419112,NaN,NaN,NaN,NaN,NaN,NaN
std,232470.282649,NaN,NaN,NaN,NaN,NaN,NaN
min,418.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,91863.250000,NaN,NaN,NaN,NaN,NaN,NaN
50%,254110.500000,NaN,NaN,NaN,NaN,NaN,NaN
75%,486624.250000,NaN,NaN,NaN,NaN,NaN,NaN
max,781105.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#Удалим все повторяющиеся новости
data.drop_duplicates(subset='title', inplace=True)
data.drop_duplicates(subset='description', inplace=True)
data.drop_duplicates(subset='content', inplace=True)

data.describe(include='all')

,article_id,title,description,published_at,content,category,full_content
count,14194.000000,14194,14194,14194,14194,14194,14194
unique,NaN,14194,14194,13899,14194,246,14175
top,NaN,"Boy, 13, killed foster mother Marcia Grant wit...","The boy, who cannot be named for legal reasons...",2023-11-13 01:00:00,A 13-year-old boy who killed his foster mother...,News,
freq,NaN,1,1,9,1,631,3
mean,291328.091870,NaN,NaN,NaN,NaN,NaN,NaN
std,237346.995835,NaN,NaN,NaN,NaN,NaN,NaN
min,418.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,76565.250000,NaN,NaN,NaN,NaN,NaN,NaN
50%,239589.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,477019.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,781105.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
data

,article_id,title,description,published_at,content,category,full_content
6,89551,Pro-Israel rallies allowed in India but Palest...,"India, the first non-Arab country to recognise...",2023-10-25 09:58:17.000000,"New Delhi, India Israels relentless bombing of...",Nepal,"India, the first non-Arab country to recognise..."
12,89563,PM Hasina’s war on terror gets daughter India’...,India News: NEW DELHI: India preferred Banglad...,2023-11-02 01:12:47.000000,Ranked! Worlds most loved landmarks; Taj Mahal...,Nepal,NEW DELHI: India preferred Bangladesh over Nep...
21,89584,India leads in migration to 'high-income' coun...,"US, Australia and Canada were the top destinat...",2023-10-25 06:46:38.000000,India topped a chart of countries with the lar...,Nepal,India has topped a list of countries with the ...
31,89602,India rejects its ranking in Global Hunger Ind...,New Delhi labelled index as “an erroneous meas...,2023-10-13 14:33:26.000000,The Indian government has rejected the new edi...,Nepal,The Indian government has rejected the new ed...
35,89614,A 5.2 magnitude earthquake in Nepal damages do...,A 5.2 magnitude earthquake and some aftershock...,2023-10-22 15:34:02.000000,"KATHMANDU, Nepal -- A 5.2 magnitude earthquake...",Nepal,"KATHMANDU, Nepal --A 5.2 magnitudeearthquakean..."
...,...,...,...,...,...,...,...
105331,779778,"Alipay exits Zomato via 3.44% stake sale, take...",Bank of America and Morgan Stanley acted as ad...,2023-11-29 14:08:38,China's Alipay sold its entire stake in food d...,America,Reuters China's Alipay sold its entire stake...
105357,780725,Google opens biggest European cyber centre,Google opened its largest cybersecurity centre...,2023-11-29 13:22:51,"Malaga, Nov 29, 2023 -Google opened its larges...",Europe,"Reuters Malaga, Nov 29, 2023 -Google opened it..."
105361,780872,"Best AeroPress Coffee Makers (2023): Original,...",The portable coffee makers from AeroPress come...,2023-11-29 14:00:00,Buying an AeroPress used to be easy; for years...,Home,"Buying an AeroPressused to be easy; for years,..."
105364,781011,"‘Save what remains of Gaza’, hospital director...",The burden on the few remaining hospitals oper...,2023-11-29 13:58:04,"Khan Younis, Gaza Strip Ahmed Isleem wishes he...",Home,The burden on the few remaining hospitals oper...
105368,781105,"Boy, 13, killed foster mother Marcia Grant wit...","The boy, who cannot be named for legal reasons...",2023-11-29 13:49:05,A 13-year-old boy who killed his foster mother...,Home,The family of a foster mum killed by a boy she...

In [12]:
print(data['title'].values[0])
print(data['description'].values[0])
print(data['content'].values[0])
print(data['full_content'].values[0])

Pro-Israel rallies allowed in India but Palestine solidarity sees crackdown
India, the first non-Arab country to recognise the PLO, is now seen closer to Israel and its biggest benefactor, the US.
New Delhi, India Israels relentless bombing of the besieged Gaza Strip and killing of nearly 6,000 people a third of them children in two weeks has outraged people across the world, triggering mass p… [+9013 chars]
India, the first non-Arab country to recognise the PLO in the 1970s, is now seen closer to Israel and its biggest benefactor, the United States. New Delhi, India– Israel’srelentless bombingof the besieged Gaza Strip and killing of nearly 6,000 people – a third of them children – in two weeks has outraged people across the world, triggering mass protests and a call for an immediate ceasefire. However, in India – the first non-Arab country to recognise the Palestine Liberation Organization (PLO), but now seen closer to Israel and its biggest benefactor, the United States – some pro-Palestine protesters reported being targeted by the government. Less than a week after the Gaza assault began, police in Hamirpur district of India’s most populous Uttar Pradesh state were looking for Muslim scholars Atif Chaudhary and Suhail Ansari. Their alleged crime: putting a WhatsApp display photo that said: “I stand with Palestine.” The two men were charged with promoting enmity between social groups. Ansari is under arrest, while Chaudhary is on the run, according to the police. In the same state, governed by the Hindu nationalist Bharatiya Janata Party (BJP), four students of the Aligarh Muslim University were booked by the police after they took out a pro-Palestine march on the campus a day after the Gaza assault began on October 7. However, when the Hindu far-right group Bajrang Dal took out a pro-Israel march in the same Aligarh city, raising slogans such as “Down with Palestine, Down with Hamas”, no action was taken against them by the authorities. In the national capital, New Delhi, there have been several examples of people being detained during rallies organised by student groups, activists and citizens for solidarity with the Palestinians since October 7.      In the western state of Maharashtra, also governed by the BJP in alliance with a regional party, two protesters, Ruchir Lad and Supreeth Ravish, were arrested on October 13 for holding a march against the war on Gaza and charged with unlawful assembly. Pooja Chinchole, member of the Revolutionary Workers Party of India and one of the organisers of the protest held in state capital Mumbai, told Al Jazeera the police “created many hurdles before us when they got to know that we are organising a pro-Palestine protest”. “They detained one of the organisers a day before the protest and three organisers on the morning of the protest. When we still gathered to protest, they snatched our microphone, placards, and after a while, started using force on some of us,” she said. The crackdown, however, was not limited to the BJP-ruled states only. In the southern Karnataka state, governed by the main opposition Congress party, police charged 10 activists with creating a public nuisance after they organised a silent march in support of the Palestinians on October 16 in Bengaluru, the capital of the state. The Karnataka police also arrested a 58-year-old Muslim man for allegedly posting a video in support of Hamas on WhatsApp. Police also briefly detained Alam Nawaz, a Muslim government employee, for updating his WhatsApp status with a Palestinian flag and “Long Live Palestine” message. “People started seeing me with suspicion as if I have committed some crime by expressing my solidarity with Palestinian people,” Nawaz, 20, told Al Jazeera. All this despite the Congress expressing its support for the “rights of the Palestinian people to land, self-government and to live with dignity” as the party called for an immediate ceasefire in a resolution passed by its working committee on October 9. Meanwhile, pro-Israel rallies, organised mainly byHindu right-wing groups, were seen across India, while many on social media offered their services to the Israeli forces. On Saturday, dozens of supporters of a retired Indian army soldier travelled 182km (113 miles) to reach the Israeli embassy in New Delhi where they offered to go to Israel to fight against the Palestinians in Gaza. Last week, one of India’s most influential Hindu nationalists, Yati Narsinghanand, released a video in which he said Hindus and Jews “have the same enemy: Muhammad and his satanic book” as he urged the Israeli government to allow 1,000 Hindus to settle in Israel in order to “take on those Muslims”.      Israel’s ambassador to India, Naor Gilon, on October 8 said he had received several requests from Indians wanting to voluntarily fight for Israel. Apoorvanand, professor of Hindi language at Delhi University, told Al Jazeera he was not surprised that the Hindu far right, which openly admires Adolf Hitler for his action against the Jews, is now supporting the Zionists in Israel. “Hindu far-right organisations in India have always supported those who dominate by violence. Hitler did once, so they supported him. Now Israel is doing this, so they are supporting it,” he said. Apoorvanand said the Hindu right in India thinks there are ideological linkages between them and the Zionists in Israel. “It looks like Israel is fighting a proxy war on behalf of the Hindu far right. They think Israel is fighting and decimating Muslims on their behalf. The way they want to establish Akhand Bharat [Unified India] by joining Pakistan, Afghanistan, Nepal together with India, they think Israel is following the same expansionist ideology,” he said. This was not always the case. India’s foreign policy has historically supported the Palestinian cause, which began with India voting against the United Nations resolution to create the state of Israel in 1947 and then recognising the PLO as a representative of the Palestinian people in 1974. India’s pro-Palestine stand was guided by the shared history of colonisation by the British, Zikrur Rahman, former Indian ambassador to Palestine, told Al Jazeera. “In the postcolonial era, we identified that this is a colonial attempt to divide the country and to create another country. We were not in favour of the creation of a country on the basis of religion,” he said.      Rahman, however, added that while India’s position on Palestine has not changed, it is not as strong as it used to be. India recognised the creation of Israel in 1950, but did not establish diplomatic relations until 1992, when the details of the firstOslo Accordwere being finalised. Since then, India has tried to strike a balance between its strategic relations with Israel and sympathising with the Palestinian struggle. Today, India is the largest buyer of Israeli-made weapons, while strategic and security cooperation between them has grown manifold. Comparisons have also been made between Israel demolishing homes of Palestinians in the occupied territories and a similar policy adopted by some BJP state governmentsmainly against Muslimsas forms of “collective punishment” of the community. Since Prime Minister Narendra Modi came to power in 2014, he has made public statements, calling his Israeli counterpart Benjamin Netanyahu a “good friend” on several occasions. Modi was one of the first global leaders to post his solidarity with Israel after Hamas’s unprecedented incursion on October 7. “Deeply shocked by the news of terrorist attacks in Israel,” said his post on X, which came four hours before US President Joe Biden reacted to the event. Modi also condemned the Israeli attack onal-Ahli Arab Hospitalin Gaza on October 18, in which nearly 500 Palestinians were killed, though his message on X appeared nearly eight hours after Biden’s post. Meanwhile, India’s Ministry of External Affairs issued a statement on October 12, reiterating New Delhi’s position of establishing a “sovereign, independent, and viable state of Palestine, living within secure and recognised borders, side by side at peace with Israel”. Last week, Modi posted on X about his phone call with the Palestinian Authority President Mahmoud Abbas, in which he repeated India’s “longstanding principled position on the Israel-Palestine issue”. He said his government is sending humanitarian assistance for the besieged residents of Gaza. Journalist Anand K Sahay, however, thinks India’s response to the unfolding humanitarian disaster in Gaza has not been adequate. “What India didn’t say is important. India didn’t demand a ceasefire. Historically, India has always demanded a ceasefire in case of a [foreign] war. In this case also we should have strongly said: stop the war,” he told Al Jazeera. Sahay said Modi’s flaunting of closeness with Israel is also aimed at appeasing his core vote bank: the Hindus. “Suppose there was another religion in majority in Palestine. Then our stand may have been different. During the Russia-Ukraine war, we said ‘this is not an age of war’. Why couldn’t we say this in case of Israel-Palestine war?” asked Sahay. “By not asking for a ceasefire, India was also indirectly signalling the US that the Indian position was very close to the US line.”               Follow Al Jazeera English:

In [13]:
data.to_csv('clean_data.csv', index=False)